---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/copy_trading
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - copy_trading/intro                                # Introduce
  - testnet/copy_trading/changelog                            # Changelog
  - copy_trading/faq                                  # FAQ
  - copy_trading/api_auth                             # Authentication
  - copy_trading/market_data                          # Market Data Endpoints
  - testnet/copy_trading/account_data                         # Account Data Endpoints
  - copy_trading/wallet_data                          # Wallet Data Endpoints
  - copy_trading/api_data                             # API Data Endpoints
  - copy_trading/rate_limits/rate_limits_ip           # Rate Limits
  - copy_trading/rate_limits/rate_limits_per_endpoint #
  - copy_trading/rate_limits/rate_limits              #
  - testnet/copy_trading/websockets                           # Websocket data
  - copy_trading/archive_data                         # Archive data
  - copy_trading/enums                                # ENUM Definitions
  - copy_trading/errors                               # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
