---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/spot
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - spot/intro  # Introduce
  - spot/changelog  # Changelog
  - spot/api_auth  # Authentication
  - spot/market_data  # Market Data Endpoints
  - spot/account_data  # Account Data Endpoints
  - spot/wallet_data  # Wallet Data Endpoints
  - spot/api_data  # API Data Endpoints
  - spot/rate_limits  # Rate Limits
  - spot/websockets  # Websocket data
  - spot/enums  # ENUM Definitions
  - spot/errors  # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
