---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/tax
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - testnet/tax/intro                                # Introduce
  - testnet/tax/changelog                            # Changelog
  - testnet/tax/faq                                  # FAQ
  - testnet/tax/api_auth                             # Authentication
  - testnet/tax/general                              # General Endpoints
  - testnet/tax/explain                      # Data Explanation Endpoints
  - testnet/tax/enums                                # ENUM Definitions
  - testnet/tax/errors                               # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
