---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs-legacy/tax
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - tax/intro                                # Introduce
  - tax/changelog                            # Changelog
  - tax/faq                                  # FAQ
  - tax/api_auth                             # Authentication
  - tax/general                              # General Endpoints
  - tax/explain                      # Data Explanation Endpoints
  - tax/enums                                # ENUM Definitions
  - tax/errors                               # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
