---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs-legacy/usdc/option
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - usdc/option/intro                      # Introduce
  - usdc/option/changelog                  # Changelog
#   - testnet/usdc/faq                        # faq
  - usdc/option/api_auth                   # Authentication
  - usdc/option/market_data                # Market Data Endpoints
  - usdc/option/account_trading            # Account Data Endpoints
#   - testnet/usdc/account_wallet_data        # Wallet Data Endpoints
#   - testnet/usdc/account_position           # asset Data Endpoints
#   - testnet/usdc/risk_limit                 # risk_limit Data Endpoints
#   - testnet/usdc/funding_rate               # funding_rate Data Endpoints
  - usdc/option/common_data                # common_data Data Endpoints
#   - testnet/usdc/trans_in_out               # trans_in_out Data Endpoints
  - usdc/option/rate_limits/rate_limits_ip # Rate Limits
  - usdc/option/rate_limits/rate_limits    #
  - usdc/option/websockets                 # Websocket data
  - usdc/option/enums                      # ENUM Definitions
  - usdc/option/errors                     # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
