---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/usdc/perpetual
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - testnet/usdc/perp/perp_intro                      # Introduce
  - testnet/usdc/perp/perp_changelog                  # Changelog
#   - testnet/usdc/faq                        # faq
  - testnet/usdc/perp/perp_api_auth                   # Authentication
  - testnet/usdc/perp/perp_market_data                # Market Data Endpoints
  - testnet/usdc/perp/perp_account_trading            # Account Data Endpoints
#   - testnet/usdc/account_wallet_data        # Wallet Data Endpoints
#   - testnet/usdc/account_position           # asset Data Endpoints
#   - testnet/usdc/risk_limit                 # risk_limit Data Endpoints
#   - testnet/usdc/funding_rate               # funding_rate Data Endpoints
  - testnet/usdc/perp/perp_common_data                # common_data Data Endpoints
#   - testnet/usdc/trans_in_out               # trans_in_out Data Endpoints
  - testnet/usdc/perp/perp_rate_limits/perp_rate_limits_ip # Rate Limits
  - testnet/usdc/perp/perp_rate_limits/perp_rate_limits    #
  - testnet/usdc/perp/perp_websockets                 # Websocket data
  - testnet/usdc/perp/perp_enums                      # ENUM Definitions
  - testnet/usdc/perp/perp_errors                     # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
