---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/spot/v3
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - testnet/spot/v3/intro                      # Introduce
  - testnet/spot/v3/changelog                  # Changelog
  - testnet/spot/v3/api_auth                   # Authentication
  - testnet/spot/v3/market_data                # Market Data Endpoints
  - testnet/spot/v3/account_data               # Account Data Endpoints
  - testnet/spot/v3/wallet_data                # Wallet Data Endpoints
  - testnet/spot/v3/api_data                   # API Data Endpoints
  - testnet/spot/v3/etp                        # ETP Endpoints
  - testnet/spot/v3/cross_margin_trading       # Cross Margin Trading Endpoints
  - testnet/spot/rate_limits/rate_limits_ip    # Rate Limits
  - testnet/spot/v3/websockets                 # Websocket data
  - testnet/spot/v3/enums                      # ENUM Definitions
  - testnet/spot/v3/errors                     # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
