---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/derivativesV3/unified_margin
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python
  - python--old: old_python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - testnet/derivativesV3/unified_margin/intro                                # Introduce
  - testnet/derivativesV3/unified_margin/changelog                            # Changelog
  - testnet/derivativesV3/unified_margin/faq                                  # FAQ
  - testnet/derivativesV3/unified_margin/api_auth                             # Authentication
  - testnet/derivativesV3/unified_margin/market_data                          # Market Data Endpoints
  - testnet/derivativesV3/unified_margin/user                                 # User
  - testnet/derivativesV3/unified_margin/asset                                # Asset
  - testnet/derivativesV3/unified_margin/unified_margin_account               # Account Data Endpoints
#   - testnet/derivativesV3/unified_margin/wallet_data                        # Wallet Data Endpoints
  - testnet/derivativesV3/unified_margin/api_data                             # API Data Endpoints
  - testnet/derivativesV3/rate_limits/rate_limits_ip           # Rate Limits
  - testnet/derivativesV3/rate_limits/rate_limits_per_endpoint #
  - testnet/derivativesV3/rate_limits/rate_limits              #
  - testnet/derivativesV3/unified_margin/websockets                           # Websocket data
  - testnet/derivativesV3/unified_margin/archive_data                         # Archive data
  - testnet/derivativesV3/unified_margin/enums                                # ENUM Definitions
  - testnet/derivativesV3/unified_margin/errors                              # Errors



search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
