---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/derivativesV3/contract
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - derivativesV3/intro                                # Introduce
  - derivativesV3/contract/changelog                   # Changelog
  - derivativesV3/faq                                  # FAQ
  - derivativesV3/api_auth                             # Authentication
  - derivativesV3/market_data                          # Market Data Endpoints
  - derivativesV3/contract/_account_data               # Account Data Endpoints
#  - derivativesV3/api_data                             # API Data Endpoints
  - futuresV2/inverse_perpetual/rate_limits/rate_limits_ip           # Rate Limits
  - derivativesV3/contract/rate_limits_per_endpoint
  - derivativesV3/rate_limits/rate_limits
  - derivativesV3/contract/websockets                           # Websocket data
  - futuresV2/inverse_perpetual/archive_data                         # Archive data
  - derivativesV3/enums                                # ENUM Definitions
  - derivativesV3/contract/errors                               # Errors


search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
