---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/derivativesV3/unified_margin
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - derivativesV3/intro                                # Introduce
#  - derivativesV3/unified_margin/changelog                            # Changelog
  - derivativesV3/faq                                  # FAQ
  - derivativesV3/api_auth                             # Authentication
  - derivativesV3/market_data                          # Market Data Endpoints
#   - derivativesV3/unified_margin/user                                 # User
#   - derivativesV3/unified_margin/asset                                # Asset
  - derivativesV3/unified_margin/unified_margin_account               # Account Data Endpoints
#   - derivativesV3/unified_margin/wallet_data                        # Wallet Data Endpoints
  - derivativesV3/unified_margin/api_data                             # API Data Endpoints
  - futuresV2/inverse_perpetual/rate_limits/rate_limits_ip          # Rate Limits
#  - futuresV2/linear_perpetual/rate_limits/rate_limits_per_endpoint #
  - futuresV2/inverse_perpetual/rate_limits/rate_limits
#  - derivativesV3/rate_limits/rate_limits              #
  - derivativesV3/unified_margin/websockets                           # Websocket data
  - futuresV2/inverse_perpetual/archive_data                         # Archive data
  - derivativesV3/enums                                # ENUM Definitions
  - derivativesV3/unified_margin/errors                              # Errors



search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
