---
title: Bybit API Docs

logo:
  link: https://bybit-exchange.github.io/docs/inverse
  target: _self


language_tabs: # must be one of https://git.io/vQNgJ
  - console
  - python--pybit: python
  - python--old: old_python

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - futures/linear_perpetual/intro                                # Introduce
  - futures/linear_perpetual/changelog                            # Changelog
  - futures/inverse_perpetual/faq                                 # FAQ
  - futures/linear_perpetual/api_auth                             # Authentication
  - futures/linear_perpetual/market_data                          # Market Data Endpoints
  - futures/linear_perpetual/account_data                         # Account Data Endpoints
  - futures/linear_perpetual/wallet_data                          # Wallet Data Endpoints
  - futures/inverse_perpetual/api_data                            # API Data Endpoints
  - futures/inverse_perpetual/rate_limits/rate_limits_ip          # Rate Limits
  - futures/linear_perpetual/rate_limits/rate_limits_per_endpoint #
  - futures/inverse_perpetual/rate_limits/rate_limits             #
  - futures/linear_perpetual/websockets                           # Websocket data
  - futures/inverse_perpetual/archive_data                        # Archive data
  - futures/linear_perpetual/enums                                # ENUM Def
  - futures/linear_perpetual/errors                               # Errors

search: true
code_clipboard: true
---

<!---
Clipboard script
-->

<script src="../dist/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.clipboard_button');

clipboard.on('success', function(e) {
    console.log(e);
});

clipboard.on('error', function(e) {
    console.log(e);
});
</script>
